*
!.vscode
!.vscode/**
.vscode/launch.json
.vscode/settings.json

!doc
!doc/**
doc/malloc\ 6.2.pdf
doc/Evaluation.pdf
doc/Evaluation.md

!inc
!inc/**

!src
!src/**

!Makefile
!.gitignore
!README.md
!LICENSE

tester/
!tester/complete/Makefile
!tester/complete/run_all_test.c
!tester/complete/test_alignment.c
!tester/complete/test_extra.c
!tester/complete/test_main.c
!tester/complete/test_stress.c
!tester/evaluation/test0.c
!tester/evaluation/test1.c
!tester/evaluation/test2.c
!tester/evaluation/test3.c
!tester/evaluation/test4.c
!tester/evaluation/test5.c
!tester/tests/basic.c
!tester/tests/ealgar.c
!tester/tests/normal.c
!tester/complete.sh
!tester/evaluation.sh
load.sh
test.sh
unload.sh
