*
!.vscode
!.vscode/**
.vscode/launch.json
.vscode/settings.json
!doc
!doc/**
doc/malloc\ 6.2.pdf
doc/Evaliation.pdf
doc/Evaliation.md
!inc
!inc/**
!src
!src/**
!Makefile
!.gitignore
!README.md
!tester
!tester/**
!evaluation
!evaluation/**
!TODO.md
!LICENSE