*
!.vscode
!.vscode/**
!doc
!doc/**
!inc
!inc/**
!src
!src/**
!Makefile
!.valgrind.supp
!leaks
!.gitignore
!Notes.c
!README.md
!tester
!tester/tests
!tester/tests/**
!tester/**/*.sh
!tester/tester.c
!tester/tester